{% extends "@KVCore/layout.html.twig" %}

{% block title %}
    Homepage
{% endblock %}

{% block body %}

    <div class="panel panel-default">
        <div class="panel-body">
           <h4> Bienvenue sur mon site d'annonces, pour prendre en main symfony 3.4 🙂 </h4>
        </div>
    </div>

{% endblock %}