{% extends "@KVCore/layout.html.twig" %}

{% block title %}
    Contact Page
{% endblock %}

{% block body %}

    {# Affichage d'un flash bag #}
    {% for message in app.flashes('noContact')|slice(0,1) %}
        <div class="alert alert-info" role="alert">
            {{ message }}
        </div>
    {% endfor %}

{% endblock %}