{# app/Resources/views/layout.html.twig #}


<!-- GIT COMMAND -->
{# git log --pretty=format:"Commit Id: %C(Yellow)%h %Creset->  %aN: %cr %C(magenta)Description:%Creset %s" #}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}KV Plateforme{% endblock %}</title>

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% endblock %}
</head>

<body>
<div class="container">
    <div id="header" class="jumbotron">
        <h1>Ma plateforme d'annonces</h1>
        <p>
            Ce projet est propulsé par Symfony,
            et construit grâce au MOOC OpenClassrooms et SensioLabs.
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="https://openclassrooms.com/fr/courses/5489656-construisez-un-site-web-a-l-aide-du-framework-symfony-4">
                Participer au MOOC »
            </a>
        </p>
    </div>

    <div class="row">
        <div id="menu" class="col-md-3">
            <h3>Le Site</h3>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{{ path('kv_core_home') }}">Accueil</a></li>
                <li><a href="{{ path('kv_core_contact') }}">Contact</a></li>
            </ul>
            <h3>Les annonces</h3>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{{ path('kv_platform_home') }}">Accueil</a></li>
                {% if is_granted('ROLE_AUTEUR') %}
                    <li><a href="{{ path('kv_platform_add') }}">Ajouter une annonce</a></li>
                {% endif %}
            </ul>

            <h4>Dernières annonces</h4>
            {{ render(controller("KVMyBundle:Advert:menu")) }}
        </div>
        <div id="content" class="col-md-9">
            {% block body %}
            {% endblock %}
        </div>
    </div>

    <hr>

    <footer>
        <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
        <p>The current version of TWIG is {{ constant('Twig_Environment::VERSION') }}</p>
    </footer>
</div>

{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}

</body>
</html>