{# src/OC/PlatformBundle/Resources/views/Advert/edit.html.twig #}

{% extends "@KVMy/layout.html.twig" %}

{% block title %}
    Ajouter une annonce
{% endblock %}

{% block kvplatform_body %}

    <h2>Ajouter une annonce</h2>

    {{ include("@KVMy/Advert/form.html.twig") }}

    <p>
        Vous allez enregistrer une nouvelle annonce.
    </p>


{% endblock %}