{# src/OC/PlatformBundle/Resources/views/Advert/edit.html.twig #}

{% extends "@KVMy/layout.html.twig" %}

{% block title %}
    Supprimer une annonce
{% endblock %}

{% block kvplatform_body %}

    <h2>Supprimer cette annonce</h2>

    <p>
      Etes vous certain de vouloir supprimer l'annonce "{{ advert.title }}"
    </p>

    {# On met l'id de l'annonce dans la route de l'action du formualaire #}
    <form action="{{ path('kv_platform_delete', {'id': advert.id}) }}" method="post">
        <a href="{{ path('kv_platform_view', {'id': advert.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'annonce
        </a>

        <input type="submit" value="Supprimer" class="btn btn-danger"/>

        {{ form_rest(form) }}
    </form>

{% endblock %}