{# src/OC/PlatformBundle/Resources/views/Advert/edit.html.twig #}

{% extends "@KVMy/layout.html.twig" %}

{% block title %}
     Modifier une annonce
{% endblock %}

{% block kvplatform_body %}

    <h2>Modifier une annonce</h2>

    {{ include("@KVMy/Advert/form.html.twig") }}

    <p>
        Vous éditez une annonce déjà existante, merci de ne pas changer
        l'esprit général de l'annonce déjà publiée.
    </p>

    <p>

        {% if advert is defined  %}
        <a href="{{ path('kv_platform_view', {'id': advert.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'annonce
        </a>
        {% else  %}
        <a href="{{ path('kv_platform_home') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'acceuil ( pas d'annonce à modifier )
        </a>
        {% endif  %}
    </p>

{% endblock %}