{# src/KV/MyBundle/Resources/views/Advert/form.html.twig #}

{# Cette vue n'hérite de personne, elle sera incluse par d'autres vues qui,
   elles, hériteront probablement du layout. Je dis « probablement » car,
   ici pour cette vue, on n'en sait rien et c'est une info qui ne nous concerne pas. #}


<h3>Formulaire d'annonces</h3>


<div class="well">
    {{ form_start(form) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    {# Génération manuelle et éclatée : #}
    {% if form.date is defined %}
    <div class="form-group">
        <div class="form-group" >
            <div class="col-sm-3">
                {{ form_label(form.date) }}
            </div>
            <div class="col-sm-9">
                {{ form_widget(form.date) }}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="form-group">
        {{ form_label(form.title, "Titre de l'annonce", {'label_attr': {'class': 'col-sm-3'}}) }}

        <div class="col-sm-9">
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.title) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.content, "Contenu de l'annonce", {'label_attr': {'class': 'col-sm-3'}}) }}

        <div class="col-sm-9">
            {{ form_widget(form.content) }}
            {{ form_errors(form.content) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.author, "Auteur de l'annonce", {'label_attr': {'class': 'col-sm-3'}}) }}

        <div class="col-sm-9">
            {{ form_widget(form.author) }}
            {{ form_errors(form.author) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.image, "Image de l'annonce", {'label_attr': {'class': 'col-sm-3'}}) }}

        <div class="col-sm-9">
            {{ form_widget(form.image) }}
            {{ form_errors(form.image) }}
        </div>
    </div>

    {% if form.categories is defined %}
    <div class="form-group" >
        <div class="col-sm-3">
        {{ form_label(form.categories) }}
        </div>
        <div class="col-sm-9">
            {{ form_widget(form.categories) }}
        </div>
    </div>
    {% endif %}

{#    <a href="#" id="add_category" class="btn btn-default">Ajouter une catégorie</a>#}

    {% if form.published is defined %}
    <div class="form-group">
        <div class="col-sm-offset-10">
            {{ form_row(form.published) }}
        </div>
    </div>
    {% endif %}



    {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}
</div>

