{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "@KVMy/layout.html.twig" %}

{% block title %}
    Lecture d'une annonce
{% endblock %}

{% block kvplatform_body %}

    {# si l'annonce a une image associée #}
    {% if advert.image is not null %}
        <img
                src="{{ asset(advert.image.webPath) }}"
                alt="{{ advert.image.alt }}"
                height="4%" width="16%"
        />
    {% endif %}
    <h2>{{ advert.title }}</h2>
    <i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i>

    <div class="well">
        {{ advert.content }}
    </div>

    <p>
        <a href="{{ path('kv_platform_home') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
        </a> &nbsp;
        <a href="{{ path('kv_platform_edit', {'id': advert.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Modifier l'annonce
        </a> &nbsp;
        <a href="{{ path('kv_platform_edit_cat', {'id': advert.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Supprimer catégories
        </a>
        <a href="{{ path('kv_platform_delete', {'id': advert.id}) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            Supprimer l'annonce
        </a>
    </p>
    <br>



    {# Affichage d'un flash bag #}
    {% for messages in app.flashes(['edited','noEdited','deleted']) %}
        {% for message in messages %}
            <div class="alert alert-info" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}


    {% if not advert.categories.empty %}
        <p>
            Cette annonce est parue dans les catégories suivantes :
            {% for category in advert.categories %}
                {{ category.name }} {% if not loop.last %} , {% endif %}
            {% endfor %}
        </p>
    {% endif %}


    {% if listAdvertSkills|length > 0 %}
        <div>
            Cette annonce requiert les compétences suivantes :
            <ul>
                {% for advertSkill in listAdvertSkills %}
                    <li>{{ advertSkill.skill.name }} : niveau {{ advertSkill.level }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="page-header">
        <h3> Les candidatures associées </h3>
    </div>

    <div class="list-group">
    {% for application in applications %}
            <h4 class="list-group-item-heading">Candidat(e) : {{ application.author }}</h4>
            <p class="list-group-item-text">
                {{ application.content }}
            </p>
            <i style="color: #aacd4e">le {{ application.date|date('d/m/Y') }}</i>
        <hr>
    {% else %}
        <div class="alert alert-info" role="alert">
            Pas (encore !) de candidatures
        </div>
    {% endfor %}
    </div>



{% endblock %}